@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
body{
    background-color: hsl(30, 54%, 90%);
}
img{
    width: 80%;
    margin: auto;
    display: block;
    border-radius: 20px;
    margin-top: 10%;
}
#fundo {
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    width: 700px;
    border-radius: 20px;
}
#preparation{
    background-color: hsl(330, 100%, 98%);
    margin-left:10%;   
    margin-right: 10%;
    margin-top: 10%;
}
#others{
    margin-left:10%;   
    margin-right: 10%;
    margin-top: 10%;
}
h3{
    color: rgb(171, 25, 149);
}
h2{
    color: brown;
}